
<body>
    <div class="container">
        <a href="/"><h1 class="title">Meu Blog</h1></a>
        <a href="/perfil"> <button class="btn btn-outline-danger">Meu perfil</button></a>
        <hr>
        <br>
