<%- include ('partials/header.ejs'); %>
<%- include ('partials/nav.ejs'); %>

        <div class="card">
            <div class="card-header">
                <h4>Você postou: </h4>
            </div>
            <div class="card-body">
            </div>
        </div>
        <br>
        <form method="POST" action="/salvar">
            <label>Escreva um post: </label>
            <textarea placeholder="No que você está pensando..." name="body" rows="5" class="form-control"> </textarea>
            <br>
            <button class="btn btn-outline-success">Postar</button>
        </form> 

    </div>
    <%- include ('partials/footer.ejs') %>